---
iff_database:
    host: localhost
    user: user
    password: pass
    database: iff
schedule_store:
    host: localhost
    port: 6379
    database: 0
arnu_source:
    socket: tcp://127.0.0.1:12345
logging:
    log_config: config/logging.yaml
...